{# src/KE/MuseumBundle/Resources/views/Main/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Accueil</h1>

  <hr>
  
	<h3>GENERAL</h3>
	<p>
        Il reste 480 mm d'espace à utiliser sur les étagères.
		<br>La taille totale des objets à placer est de 620 mm.
    </p>
	<h3>ETAGERES</h3>
	<p>
        Il y a actuellement :
			<br>- 2 étagères pleines.
			<br>- 4 étagères utilisées mais non-pleines.
			<br>- 1 étagère vide.
    </p>
	<h3>OBJETS</h3>
	<p>
        Il y a actuellement :
			<br>- 5 objets placés.
			<br>- 7 objets en attente de placement.
    </p>
	
{% endblock %}
